<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Babules</title>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="logo" asp-controller="Home" asp-action="Index">BABULES</a>

            <div class="dropdown border-right">
                <button class="dropbtn">
                    Categories
                </button>
                <div class="dropdown-content">
                    <a asp-controller="Categories" asp-action="ListOfCategories">List of categories</a>
                    <a asp-controller="Categories" asp-action="CreateAndUpdate">Add Category</a>
                </div>
            </div>
            <div class="dropdown border-right">
                <button class="dropbtn">
                    Activities
                </button>
                <div class="dropdown-content">
                    <a asp-controller="Activities" asp-action="ListOfOperations">List of operations</a>
                    <a asp-controller="Activities" asp-action="CreateAndUpdate">Add Operation</a>
                </div>
            </div>
            <div class="dropdown border-right">
                <button class="dropbtn">
                    Help
                </button>
                <div class="dropdown-content">
                    <a href="#">Instruction</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">
                    admin
                </button>
                <div class="dropdown-content">
                    <a asp-controller="ReportGenerator" asp-action="Index">Report Generator</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/js/calendar.js"></script>
    <script src="~/js/pie_chart.js"></script>
</body>
</html>
