@{
    ViewData["Title"] = "Create or update operations";
}

@model Babules.Models.Operations

<h1>Реєстрація/Редагування інформації про транзакції</h1>
<div class="content-wrapper">
    <form class="form-style" asp-action="CreateAndUpdate" asp-controller="Activities" method="post">
        <input asp-for="Id" type="hidden">
        <div>
            <div class="label-wrap">
                <label asp-for="CategoryId">Назва категорії</label>
            </div>
            <div class="label-wrap">
                <label asp-for="OperationType">Тип операції</label>
            </div>
            <div class="label-wrap">
                <label asp-for="Amount">Сума</label>
            </div>
            <div class="label-wrap">
                <label asp-for="Description">Короткий опис</label>
            </div>
            <div class="label-wrap">
                <label asp-for="TransactionDate">Дата транзакції YYYY-MM-DD</label>
            </div>
        </div>
        <div>
            <div class="input-wrap">
                @if (ViewBag.Categories != null)
                {
                    <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))" class="select-general-style">
                        <option value="" selected disabled>Оберіть зі списку</option>
                    </select>
                }
                else
                {
                    <select class="select-general-style">
                        <option value="" selected disabled>Список пустий</option>
                    </select>
                }
            </div>
            <div class="input-wrap">
                <input asp-for="OperationType" class="input-general-style input-to-database" placeholder="Введіть тип операції">
            </div>
            <div class="input-wrap">
                <input asp-for="Amount" type="number" class="input-general-style input-to-database total-input" placeholder="Введіть суму" value="">
            </div>
            <div class="input-wrap">
                <input asp-for="Description" class="input-general-style input-to-database big-input" placeholder="Введіть опис транзакції">
            </div>
            <div class="input-wrap">
                <input asp-for="TransactionDate" type="text" id="dateInput" data-index="0" class="input-general-style input-to-database" placeholder="Виберіть або введіть дату" pattern="\d{4}-\d{2}-\d{2}" value="">
                <input type="date" id="calendar" data-index="0" class="input-general-style input-to-database hidden">
                <button id="calendarButton" data-index="0"></button>
            </div>
            <button type="submit" class="related-to-database-btn in-one-row">Зберегти</button>
            <button type="reset" class="related-to-database-btn in-one-row">Очистити</button>
        </div>
    </form>
</div>