@model Babules.Models.Category

@{
    ViewData["Title"] = "Delete categories";
}

<h1>Видалення інформації про категорію доходів / витрат</h1>
<div class="content-wrapper">
    <h2>Ви дійсно хочете видалити наступну категорію?</h2>
    <dl>
        <dt>Назва категорії:</dt>
        <dd>@Model.Name</dd>
        <dt>Короткий опис:</dt>
        <dd>@Model.Description</dd>
    </dl>
    <form method="post" asp-action="Delete" asp-controller="Categories" onsubmit="return confirmDelete();">
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit" class="table-btn delete-btn">Видалити</button>
    </form>
</div>