@{
    ViewData["Title"] = "List of operations";
}

<h1>Транзакції</h1>
<div class="content-wrapper">
    <select class="select-category">
        <option value="" selected disabled>Оберіть зі списку</option>
        <option value="option1">Опція 1</option>
        <option value="option2">Опція 2</option>
        <option value="option3">Опція 3</option>
    </select>
    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Категорія</th>
                <th>Тип операції</th>
                <th>Сума</th>
                <th>Дата</th>
                <th>Опис</th>
                <th>Управління</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><div class="center">1</div></td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test test test test test test test test test test test test test test test</td>
                <td>
                    <div class="center">
                        <button class="table-btn edit-btn"></button>
                        <button class="table-btn delete-btn"></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td><div class="center">2</div></td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>
                    <div class="center">
                        <button class="table-btn edit-btn"></button>
                        <button class="table-btn delete-btn"></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td><div class="center">3</div></td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>
                    <div class="center">
                        <button class="table-btn edit-btn"></button>
                        <button class="table-btn delete-btn"></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<button class="related-to-database-btn">Додати нову транзакцію</button>