@model Babules.Models.Category

@{
    ViewData["Title"] = "Create or update categories";
}

<h1>Реєстрація/Редагування інформації про категорію доходів / витрат</h1>
<div class="content-wrapper">
    <form class="form-style" asp-action="CreateAndUpdate" asp-controller="Categories" method="post">
        <input asp-for="Id" type="hidden">
        <div>
            <div class="label-wrap">
                <label asp-for="Name">Назва категорії</label>
            </div>
            <div class="label-wrap">
                <label asp-for="Description">Короткий опис</label>
            </div>
        </div>
        <div>
            <div class="input-wrap">
                <input asp-for="Name" class="input-general-style input-to-database" placeholder="Введіть назву категорії">
            </div>
            <div class="input-wrap">
                <input asp-for="Description" class="input-general-style input-to-database big-input" placeholder="Введіть короткий опис">
            </div>
            <button type="submit" class="related-to-database-btn in-one-row">Зберегти</button>
            <button type="reset" class="related-to-database-btn in-one-row">Очистити</button>
        </div>
    </form>
</div>